html, body {
	height: 100%;
	margin: 0;
}

.navbar {
	height: 77px;
	border-radius: 0;
	padding-left: 3%;
}

.navbar-brand {
	padding: 0;
	height: 75px;
}

.navbar-brand>img {
	height: 100%;
	width: auto;
}

#nav-right {
	color: white;
}

.bg {
	margin-top: -40px;
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.3)),url("resources/home.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing {
	position: absolute;
	top: 12%;
	left: 35%;
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 600px;
	text-align: right;
}

.main-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bolder;
}

.sub-title {
	font-family: 'Rubik', sans-serif;
	font-size: 38px;
	color: white;
	font-weight: normal;	
}

.intro {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.landing .btn {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	border-radius: 100px;
	text-align: center;
	height: 44px;
	width: 150px;
	color: white !important;
	background: #202021;
}

.landing a:hover {
	text-decoration: none !important;
}

.landing .btn:hover {
	text-decoration: none;
	background: black;
}

.game-banner {
	margin-top: -20px;
	background-size: 100%;
	color: white;
	display: flex;
	padding: 10% 10% 10% 10%;
	justify-content: center;
	align-items: center;
}

.game-banner h1 {
	font-size: 30px;
}

.game-banner p {
	font-size: 20px;
	margin-top: 10px;
}

.game-banner .left {
	width: 50%;
	max-width: 400px;
	margin-right: 40px;
	display: flex;
	justify-content: center;
	background: lightblue;
}

.game-banner .left img {
	max-height: 300px;
	height: auto;
	width: auto;
}

.game-banner .right {
	width: 48%;
	max-width: 420px;
	margin-left: 10px;
	display:flex;
	flex-direction: column;
	background: rgba(0,0,0,0.3);
	padding: 10px;
}

.game-list {
	background-color: #fff;
}

.game-list .game {
	border-style: solid;
	border-width: 2px;
	margin: 10px -5px 20px -5px;
	min-height: 200px;
}

.game img {
	max-width: 100%;
}

.game a:link {
	color: black;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline !important;
}


