html, body {
	height: 100%;
	margin: 0;
}

.bg {
	margin-top: -40px;
	background-image: url("resources/home.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing {
	position: absolute;
	top: 12%;
	left: 35%;
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 600px;
	text-align: right;
	background: rgba(0,0,0,0.3)
}

.main-title {
	font-family: Arial;
	font-size: 50px;
	color: white;
	text-decoration: bold;
}

.sub-title {
	font-family: Arial;
	font-size: 38px;
	color: white;
	text-decoration: bold;	
}

.intro {
	font-family: Arial;
	font-size: 20px;
	color: white;
	text-decoration: none;
}


.game-banner {
	background-size: 100%;
	color: white;
	display: flex;
	padding: 10% 10% 10% 10%;
	justify-content: center;
	align-items: center;
}

.game-banner h1 {
	font-size: 30px;
}

.game-banner p {
	font-size: 20px;
	margin-top: 10px;
}

.game-banner .left {
	width: 50%;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	background: lightblue;
}

.game-banner .left img {
	max-width: 100%;
	max-height: 300px;
	height: auto;
}

.game-banner .right {
	width: 48%;
	margin-left: 10px;
	display:flex;
	flex-direction: column;
	background: rgba(0,0,0,0.3);
	padding: 10px;
}

.game-list {
	background-color: #fff;
}

.game-list .game {
	border-style: solid;
	border-width: 2px;
	margin: 10px -5px 20px -5px;
	min-height: 200px;
}

.game img {
	max-width: 100%;
}

.game a:link {
	color: black;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline !important;
}


