html, body {
	height: 100%;
	margin: 0;
	min-width: 800px;
}

.row {
	display: flex;
	margin-bottom: 15px;
}

.navbar li a {
	color: white !important;
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	padding: 10px 10px !important;
	margin: 18px 5px !important;
}

.navbar li a:hover {
	font-weight: bolder;
	text-decoration: none !important;
}

.navbar .active a {
	background: none !important;
	border-bottom: 2px solid white;
}

.navbar ul {
	margin-right: 40px;
}
.navbar {
	height: 77px;
	border: none;
	border-bottom: 2px solid white;
	border-radius: 0;
	padding-left: 3%;
	margin-bottom: 0;
}

.navbar-brand {
	margin-top: 12px;
	padding: 0;
	height: 50px;
}

@media screen and (min-width: 1000px) {
	.navbar-brand {
		margin-top: 0;
		height: 75px;
		padding: 0;
	}
}

.navbar-brand>img {
	height: 100%;
	width: auto;
}

.ul.nav li {
	color: white !important;
}

#nav-right {
	color: white;
}

.graphic {
	background: url("https://i.imgur.com/o3wJCen.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: no-repeat;
	height: 92%;
	width: 100%;
	text-align: center;
	margin-top: -25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.graphic h1 {
	/*margin-top: -20px;
	margin-bottom: 10px; */
	padding: 10px;
	border: 2px solid white;
	color: white;
	font-size: 65px;
	font-family: 'Montserrat', sans-serif;	
}


.graphic a.games-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
    color: white !important;
	padding: 10px 25px;
	border: 1px solid white;
    background: #202021;
}

.graphic a:hover {
    text-decoration: none !important;
}

.graphic a.games-btn:hover {
    text-decoration: none;
    background: black;
}

.graphic .home-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.graphic .upper {
	margin-top: 5%;
	margin-bottom: 0%;
}

.graphic .lower {
	margin-top: 65%;
	/* background: lightblue; */
	margin-bottom: -50%;
	width: 500px;
}

.graphic .lower a.lower-btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: inline-block;
	width: 170px;
	border-radius: 10px;
	text-align: center;
	color: white !important;
	padding: 10px 5px 10px 5px;
	border: 1px solid white;
	background: none;
	margin: 0 5px;
}


.discover {
	display: flex;
	width: 100%;
}

.discover .left {
	width: 50%;
	border-right: 1px solid white;
}

.discover .right {
	width: 50%;
	border-left: 1px solid white;
}
.discover .image-span {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
}

.discover .image-span h1 {
	color: white;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	font-size: 50px;
}

.discover .image-span h2 {
	color: white;
}

.bg {
	margin-top: -40px;
	background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0.3)),url("resources/home.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.games-bg {
	margin-top: -20px;
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0.6)),url("resources/game-bg.jpg");
	min-height: 100%;
	height: auto;
}

.landing {
	position: absolute;
	top: 12%;
	left: 35%;
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 600px;
	text-align: right;
}

.main-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bolder;
}

.sub-title {
	font-family: 'Rubik', sans-serif;
	font-size: 38px;
	color: white;
	font-weight: normal;	
}

.intro {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.landing .btn {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	border-radius: 100px;
	text-align: center;
	height: 44px;
	width: 150px;
	color: white !important;
	background: #202021;
}

.landing a:hover {
	text-decoration: none !important;
}

.landing .btn:hover {
	text-decoration: none;
	background: black;
}

.banner {
	margin-top: 10px;
	color: white;
}

.pages {
	font-size: 15px;
	color: gray;
	/*background-color: red; */
	margin: 20px 0 -25px 0;
}

.pages a:link, .pages a:visited {
	color: gray;
}

.pages a:hover {
	color: white;
}


.page-title {
	font-family: 'Poiret One', cursive;
	text-align: center;
	margin: 25px 0 15px 0;
}

.game-banner {
	/*margin-top: -25px !important; */
	width: 100%;
	background-size: 100%;
	color: white;
	display: flex;
	padding: 10% 10% 10% 10% !important;
	justify-content: center;
	align-items: center;
	max-height: 100%; /* Make image smaller */
}

.game-banner h1 {
	font-size: 30px;
}

.game-banner p {
	font-size: 20px;
	margin-top: 10px;
}

.game-banner .left {
	width: 50%;
	max-height: 300px;
	max-width: 400px;
	margin-right: 40px;
	display: flex;
	justify-content: center;
}

.game-banner .left img {
	height: auto;
	width: auto;	
}

@media only screen and (max-width: 950px) {
	.game-banner .left {
		min-height: 178px;
		min-width: 380px;
		margin-right: 0;
	}
	
	.game-banner .left img {
		height: 178px;
		width: 380px;
	}

	.container {
		width: 100%;
	}
}

.game-banner .right {
	width: 48%;
	max-width: 400px;
	margin-left: 10px;
	display:flex;
	flex-direction: column;
	background: rgba(0,0,0,0.3);
	padding: 10px;
}

.game-list .game {
	margin: 5px -5px 5px -5px;
	/* min-height: 200px; */
	font-family: 'Ubuntu', cursive;
	height: auto;
	background-color: white;
	border-radius: 10px;
	border: 2px solid white;
}

.game img {
	max-width: 100%;
	border-radius: 10px;
}

.game .game-info {
	margin: 0 4px;
	text-align: right;
}

.game h4 {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

.game a:link {
	color: black;
}

.game-content {
	background: #222;
	color: white;
	height: auto;
}

.game-content h1, .game-content .bb_tag {
	color: white;
	width: 100%;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	margin-bottom: 10px;
}

.game-content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.game-content #slides {
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-title {
	width: 100%;
	border-bottom: 2px  solid white;
	font-family: 'Poiret One', cursive;
	margin-bottom: 5px;
}

.game-content .section-tags {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.game-content .section-price {
	display: flex;
	border: 2px solid white;
	align-items: center;
	justify-content: center;
}

.game-content .section-price h3 {
	margin: 0;
	padding: 10px 0;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

/* .game-content .section-desc {
	border-top: 2px solid white;
	margin-top: 5px;
} */
/* .game-content .bb_tag { 
	font-style: italic; 
	font-family: Georgia, Times, serif; 
	font-size: 24px; 
	color: #bfe1f1;
} */

.game-content ul.bb_ul {
	list-style-type: circle;
}

.game-content ul.bb_ul li {

}
.game-content ul.bb_ul {

}

.game-content ul.bb_ul li {
	padding:3px 10px;
	font-weight: 100; 
	font-family: Arial; 
	font-size: 13px; 
	color: #eee; 
	border-left: 1px solid white;
}

.game-content ul.bb_ul li ul.bb_ul li {
	border-left: none;
	padding: 2px 0;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

.game-content a:link, .game-content a:visited {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.game-content a:hover {
	text-decoration: underline;
}

.dev {
	width: 100%;
	/* background: black; */
	display: flex;
	flex-direction: row;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	line-height: 20px;
	justify-content: center;
}

.dev .game-count {
	min-width: 40px;
	width: 60px;
	text-align: center; 
	/* background: lightblue; */
	height: 100%;
	border-right: 1px solid white;
	border: 1px solid white;
	margin-right: -1px;
	padding-top: 6px;
}

.dev .name {
	height: 100%;
	/* background: lightgreen; */
	width: 500px;
	padding-left: 14px;
	border: 1px solid white;
	padding-top: 6px;
}

.custom-table {
	/*
	display: flex;
	flex-direction: column;
	justify-content: center; */
	margin: 0 auto;
	width: 80%;
}

#devTableSearch {
	color: black;
	background-image: url('https://i.imgur.com/uvPcYF2.png');
	background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#devTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#devTable th, #devTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#devTable tr td, #devTable th {
	border-left: 1px solid white;
}

#devTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#devTable tr.header, #devTable tr.header:hover {
	background-color: lightblue;
}
#devTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #222;
}

