{%- extends "bootstrap/base.html" %}
{% block title %}Alex{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik|Poiret+One|Ubuntu" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<script src="{{url_for('static', filename='javascript.js')}}"></script>
	{{super()}}
{% endblock %}

{% block navbar %}
{% set navigation_bar = [
	('/', 'index', 'Home'),
	('/games/', 'games', 'Games'),
	('/display/', 'list', 'List')
] -%}

{% set active_page = active_page|default('index') -%}

<div class="navbar navbar-expand-sm navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="/static/resources/am-logo.jpg" alt="Alex McGill Logo"></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% for href, id, caption in navigation_bar %}
				<li {% if id == active_page %} class="active" {% endif %}>
					<a href="{{ href|e }}">{{ caption|e }}</a>
				</li>
			{% endfor%}
		</ul>
	</div>
</div>

{% endblock %}

<div class="container">
	{% block content%}
	{% endblock %}
</div>
