{%- extends "bootstrap/base.html" %}
{% block title %}Alex{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block scripts %}
	<!--<script src="{{url_for('static', filename='javascript.js')}}"></script>-->
	{{super()}}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Alex</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">Home</a></li>
			<li><a href="#">Page</a></li>
			<li><a href="/display/">Display</a></li>
		</ul>
	</div>
</nav>

{% endblock %}

<div class="container">
	{% block content%}
	{% endblock %}
</div>
