{% extends "base.html" %}
{% set active_page = "games" %}
{% block content %}
<div class="games-bg">
	<div class="banner container">
		<h1>Category: {{ category }}</h1>
	</div>
	{% if games|length > 0 %}
		<div class="game-list container">
			<div class="row row-eq-height equal">
			{% for game in games %}
				{% for obj in game.iterkeys() %}
					{% for key, value in game[obj].items() %}
						{% if key == 'data' %}
							{# -- GAME DATA ACCESSIBLE FROM HERE (value[field]) #}
							{% set link = value["steam_appid"] %} 
							<div class="col-sm-4">
								<div class="game">
									<a href="/game/{{ link }}">
										<img src={{ value["header_image"] }}>
									</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% if loop.index % 3 == 0 %}
					</div>
					<div class="row row-eq-height-equal">
				{% endif %}
			{% endfor %}
			</div>
		</div>
	{% else %}
		<p>No data provided</p>
	{% endif %}
</div>
{% endblock %}

