{% extends "base.html" %}
{% set page_title = "Developers" %}
{% set active_page = "developers" %}
{% block content %}
<div class="games-bg">
	<div class="banner container">
		<div class="pages">
			<a href="/">Home</a> > <a href="/developers/">Developers</a>
		</div>
		<h1 class="page-title">Developers</h1>
		<div class="custom-table">
		<div class="controls">
			<button class="table-btns" onclick="sortTable()">Sort Alphabetically</button>		
			<button class="table-btns" onclick="sortByCount()">Sort by Count</button>
		</div>
		<input type="text" id="devTableSearch" onkeyup="devSearch()" placeholder="Search for a Developer..">
		<table id="devTable">
			<tr class="header">
				<th style="width:90%;">Developer</th>
				<th style="width:10%;">Games</th>
			</tr>
			{% for current in devs.iterkeys() %}
				<tr>
					<td><a href="/developers/{{current}}">{{ current }}</a></td>
					<td>{{ devs[current] }}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
</div>
{% endblock %}

