{% extends "base.html" %}
{% block content %}
	<h1>List:</h1>
	<table class="table table-hover table-striped table-bordered table-dark">
		<thead>
		<tr>
			<th>appid</th>
			<th>name</th>
			<th>developer</th>
			<th>publisher</th>
			<th>score_rank</th>
			<th>positive</th>
			<th>negative</th>
			<th>userscore</th>
			<th>owners</th>
			<th>average_forever</th>
			<th>average_2weeks</th>
			<th>median_forever</th>
			<th>median_2weeks</th>
			<th>price</th>
			<th>initialprice</th>
			<th>discount</th>
		</tr>
		</thead>
		<tbody>
		{% for obj  in info %}
			<tr>	
				{% for key, value in info[obj].items() %}
					<td>{{ value }}</td>
				{% endfor %}
			{% endfor %}
			</tr>
		</tbody>
	</table>

{% endblock %}
