{% extends "base.html" %}
{% block content %}
	<h1>List:</h1>
	<table class="table table-hover table-striped table-bordered table-dark">
		<thead>
		<tr>
		<!-- Temporary solution to get table headers -->
		{% for obj in info %}
			{% if loop.index == 1 %}
				{% for key, value in info[obj].items() %}
					<th>{{ key }}</th>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for obj  in info %}
			<tr>	
				{% for key, value in info[obj].items() %}
					<td>{{ value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
