{% extends "base.html" %}
{% block content %}
	{% if game %}
		{% for obj in game.iterkeys() %}
			{% for key, value in game[obj].items() %}
				{% if key == 'data' %}
					{# GAME DATA ACCESSIBLE FROM HERE (value[field]) #}
					<div class="game-banner" style="background-image: url({{ value["background"] }})">
							<div class="left">
								<img src={{ value["header_image"] }}>
							</div>
							<div class="right">
								<h2>{{ value["name"] }}</h2>
								{{ desc }}
								</div>
					{#<p>{{ value["about_the_game"]|safe }}</p> #}
						</div>
					</div>
					<div class="game-content">
					<div class="container">
						<div id="slides" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#slides" data-slide-to="0" class="active"></li>
                                <li data-target="#slides" data-slide-to="1"></li>
                                <li data-target="#slides" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                {% for pic in value["screenshots"] %}
                                    {% if loop.index == 1 %}
                                        <div class="item active">
                                            <img src="{{ value["screenshots"][0]["path_full"] }}" alt="Game Screenshot" style="width:100%;">
                                        </div>
                                    {% elif loop.index < 4%}
                                        <div class="item">
                                            <img src="{{ value["screenshots"][loop.index-1]["path_full"] }}" alt="Game Screenshot" style="width:100%;">
                                        </div>
                                    {% endif %}
                                {% endfor %}
							</div>
                        </div>
						<p>{{ value["detailed_description"]|safe }}</p>
						{% if value["price_overview"] %}
							<h3>Price: £{{ value["price_overview"]["final"] / 100 }}</h3>
						{% else %}
							<h3>Free to Play</h3>
						{% endif %}
						<h3>Categories:</h3>
						<ul>
						{% for category in value["categories"] %}
							<li>{{ category["description"] }}</li>
						{% endfor %}
						</ul>
						<h3>Developer: {{value["developers"][0] }}</h3>
					</div>
				</div>
				</div>
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% else %}
		<h2>Game not found</h2>
	{% endif %}

{% endblock %}
