{% extends "base.html" %}
{% block content %}

	{% if game %}
		{% for obj in game.iterkeys() %}
			{% for key, value in game[obj].items() %}
				{% if key == 'data' %}
					<!-- GAME DATA ACCESSIBLE FROM HERE (value[field]) -->
					<h1>{{ value["name"] }}</h1>
					<img src={{ value["header_image"] }}>
					<h2>Description:</h2>
					<p>{{ value["detailed_description"]|safe }}</p>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% else %}
		<h2>Game not found</h2>
	{% endif %}

{% endblock %}
