{% extends "base.html" %}
{% block content %}
	{% if game %}
		{% for obj in game.iterkeys() %}
			{% for key, value in game[obj].items() %}
				{% if key == 'data' %}
					{# GAME DATA ACCESSIBLE FROM HERE (value[field]) #}
					<div class="game-banner" style="background-image: url({{ value["background"] }})">
							<div class="left">
								<img src={{ value["header_image"] }}>
							</div>
							<div class="right">
								<h2>{{ value["name"] }}</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra tellus et sapien ornare, ac ultrices enim aliquam. Nunc fringilla dolor eget eleifend feugiat.</p>
							</div>
					{#<p>{{ value["about_the_game"]|safe }}</p> #}
						</div>
					</div>

					<div class="container">
						
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% else %}
		<h2>Game not found</h2>
	{% endif %}

{% endblock %}
