{% extends "base.html" %}
{% block content %}
	{% if game %}
		{% for obj in game.iterkeys() %}
			{% for key, value in game[obj].items() %}
				{% if key == 'data' %}
					{# GAME DATA ACCESSIBLE FROM HERE (value[field]) #}
					<div class="container">
					<h1>{{ value["name"] }}</h1>
					<img src={{ value["header_image"] }}>
					<h3>Release Date: {{ value["release_date"]["date"] }}</h3>
					{% if value["price_overview"] %}
						<p>Price: £{{ value["price_overview"]["final"] / 100 }}</p>
					{% else %}
						<p>Free to Play</p>
					{% endif %}
					<h3>Description:</h2>
					<p>{{ value["detailed_description"]|safe }}</p>
					<br />
					<h3>Categories:</h3>
					<ul>
						{% for category in value["categories"] %}
							<li>{{ category["description"] }}</li>
						{% endfor %}
					</ul>
					<h3>Developer: {{value["developers"][0] }}</h3>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% else %}
		<h2>Game not found</h2>
	{% endif %}

{% endblock %}
