{% extends "base.html" %}
{% block content %}
	<h3>Home Page</h3>
	
	{% if files|length > 0 %}
		<div class="game-list container">
			<div class="row">
			{% for game in files %}
				{% for obj in game.iterkeys() %}
					{% for key, value in game[obj].items() %}
						{% if key == 'data' %}
							<!-- GAME DATA ACCESSIBLE FROM HERE (value[field]) -->
							{% set link = value["steam_appid"] %} 
							<div class="col-sm-4">
							<div class="game">
								<a href="/game/{{ link }}">
									<img src={{ value["header_image"] }}>
									<h4>{{ value["name"] }}</h4>
								</a>
								{% if value["price_overview"] %}
                                    <p>Price: £{{ value["price_overview"]["final"] / 100 }}</p>
								{% else %}
									<p>Free to Play</p>
								{% endif %}
							</div></div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% if loop.index % 3 == 0 %}
					</div>
					<div class="row">
				{% endif %}
			{% endfor %}
		</div>
		</div>
	{% else %}
		<p>No data provided</p>
	{% endif %}
{% endblock %}

