{% extends "base.html" %}
{% block content %}
	<div class="bg">
		<div class="landing">
            <h1 class="main-title">STEAM PROJECT</h1>
            <h3 class="sub-title">Steam Game Collection</h3>
            <p class="intro">
               Click any text to edit or style it. Select text to insert a link. Click blue "Gear" icon in the top right corner to hide/show buttons, text, title and change the block background. Click red "+" in the bottom right corner to add a new block. Use the top left menu to create new pages, sites and add themes.
            </p>
                <form action="#">
					<input type="submit" value="BUTTON 1" class="btn" />
					<input type="submit" value="BUTTON 2" class="btn" />
				</form>
        </div>
	</div>
	{#
	{% if files|length > 0 %}
		<div class="game-list container">
			<div class="row row-eq-height">
			{% for game in files %}
				{% for obj in game.iterkeys() %}
					{% for key, value in game[obj].items() %}
						{% if key == 'data' %}
							{% set link = value["steam_appid"] %} 
							<div class="col-sm-4">
							<div class="game">
								<a href="/game/{{ link }}">
									<img src={{ value["header_image"] }}>
									<h4>{{ value["name"] }}</h4>
								</a>
								{% if value["price_overview"] %}
                                    <p>Price: £{{ value["price_overview"]["final"] / 100 }}</p>
								{% else %}
									<p>Free to Play</p>
								{% endif %}
							</div></div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% if loop.index % 3 == 0 %}
					</div>
					<div class="row row-eq-height">
				{% endif %}
			{% endfor %}
		</div>
		</div>
	{% else %}
		<p>No data provided</p>
	{% endif %}
	#}
{% endblock %}

