{% extends "base.html" %}
{% block content %}
	<div class="graphic">
		<h1>STEAM COLLECTION</h1>
		<a class="games-btn" href="/games/">ALL GAMES</a>
	</div>
	<div class="bottom-nav">
		<div class="item">
			<a href="#">GENRES</a>
		</div>
		<div class="item">
			<a href="#">DEVELOPERS</a>
		</div>
		<div class="item">
			<a href="#">CATEGORIES</a>
		</div>
		<div class="item">
			<a href="#">SOMETHING</a>
		</div>
	</div>
	<br /><br /><div>
	<div id="banner-genres" class="home-content">
		<div class="image-span" style="background-color: black;">
			<h1>GENRES</h1>
		</div>
		<div class="container">
			<p> Some text here</p>
		</div>
	</div>

    <div id="banner-developers" class="home-content">
        <div class="image-span" style="background-color: black;">
            <h1>DEVELOPERS</h1>
        </div>
        <div class="container">
            <p> Some text here</p>
        </div>
    </div>


    <div id="banner-categories" class="home-content">
        <div class="image-span" style="background-color: black;">
            <h1>CATEGORIES</h1>
        </div>
        <div class="container">
            <p> Some text here</p>
        </div>
    </div> #}
	</div>
	
{% endblock %}
