{% extends "base.html" %}
{% set page_title = "Search" %}
{% set active_page = "search" %}
{% block content %}
<div class="games-bg">
	<div class="banner container">
		<h1 class="page-title">Search</h1>
		<form onsubmit="return search();" class="search-form">
			<div class="form-row">
				<div class="form-heading">
					<h3>App ID</h3>
				</div>
				<div class="form-input">
					<textarea class="form-text" name="appid" cols="20"></textarea>
				</div>
			</div>
			<div class="form-row">
                <div class="form-heading">
                    <h3>Name</h3>
                </div>
                <div class="form-input">
                    <textarea class="form-text" name="name" cols="50"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-heading">
                    <h3>Genre</h3>
                </div>
                <div class="form-input">
                    <textarea class="form-text" name="genre" cols="50"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-heading">
                    <h3>Developer</h3>
                </div>
                <div class="form-input">
                    <textarea class="form-text" name="developer" cols="60"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-heading">
                    <h3>Category</h3>
                </div>
                <div class="form-input">
                    <textarea class="form-text" name="category", cols="50"></textarea>
                </div>
            </div>
			<div class="form-submit">
				<input type="submit" value="Search">
			</div>
		</form>
	</div>
</div>
{% endblock %}

