{% extends "base.html" %}
{% set page_title = "Games" %}
{% set active_page = "games" %}
{% block content %}
<div class="games-bg">
<div class="banner container">
	<div class="pages">
		<a href="/">Home</a> > <a href="/games/">Games</a>
	</div>
	<div class="split">
	<div class="search">
		<form onsubmit="return search();" class="search-form">
			<div class="form-row">
                <div class="form-heading">
                    <input id="chk-name" type="checkbox" onchange="toggleDisabled(this.checked, 'txt-name')"/>
                </div>
                <div class="form-input">
                    <input type="text" id="txt-name" placeholder="Name.." disabled class="form-text" name="name" size="17">
                </div>
            </div>
            <div class="form-row">
                <div class="form-heading">
					<input id="chk-genre" type="checkbox" onchange="toggleDisabled(this.checked, 'txt-genre')"/>
                </div>
                <div class="form-input">
                    <input type="text" id="txt-genre" placeholder="Genre.." disabled class="form-text" name="genre" size="17"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-heading">
					<input id="chk-developer" type="checkbox" onchange="toggleDisabled(this.checked, 'txt-developer')"/>
                </div>
                <div class="form-input">
                    <input type="text" id="txt-developer" placeholder="Developer.." disabled class="form-text" name="developer" size="17">
                </div>
            </div>
            <div class="form-row">
                <div class="form-heading">
					<input id="chk-category" type="checkbox" onchange="toggleDisabled(this.checked, 'txt-category')"/>
                </div>
                <div class="form-input">
                    <input type="text" id="txt-category" placeholder="Category.." disabled class="form-text" name="category" size="17"/>
                </div>
            </div>
			<div class="form-row">
				<div class="form-heading">
					<input id="chk-appid" type="checkbox" onchange="toggleDisabled(this.checked, 'txt-appid')"/>
				</div>
				<div class="form-input">
					<input type="text" id="txt-appid" placeholder="App ID.." disabled class="form-text" name="appid"  size="17">
				</div>
			</div>
			<div class="form-submit">
				<a href="/games/"><input class="btn btn-warning" type="button" value="Reset"/></a>
				{#<input class="btn btn-warning" type="button" value="Reset" onclick="resetSearchForm()"/>#}
				<input class="btn btn-primary" type="submit" value="Search">
			</div>
		</form>
	</div>
	<div class="content">	
	{% if games|length > 0 %}
		{% if empty_search %}
			<h1 class="page-title">Games</h1>
		{% else %}
			<h1 class="page-title">Search Results Found: ({{ games|length }})</h1>
		{% endif %}
		<div class="game-list container">
			<div class="row row-eq-height equal">
			{% for game in games %}
				{% for obj in game.iterkeys() %}
					{% for key, value in game[obj].items() %}
						{% if key == 'data' %}
							{# -- GAME DATA ACCESSIBLE FROM HERE (value[field]) #}
							{% set link = value["steam_appid"] %} 
							<div class="col-sm-4">
								<div class="game">
									<a href="/games/{{ link }}">
										<img src={{ value["header_image"] }}>
									</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% if loop.index % 3 == 0 %}
					</div>
					<div class="row row-eq-height-equal">
				{% endif %}
			{% endfor %}
			</div>
	{% else %}
		<h1 class="page-title">No Search Results Found</h1>
	</div>
	{% endif %}
	</div>
</div>
</div>
</div>

<script>
	
	function getValueByName(value) {
		value = value.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + value + "=([^&#]*)"),
        results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	document.getElementById('txt-name').value = getValueByName('name');
	document.getElementById('txt-genre').value = getValueByName('genre');
	document.getElementById('txt-developer').value = getValueByName('developer');
	document.getElementById('txt-category').value = getValueByName('category');
	document.getElementById('txt-appid').value = getValueByName('appid');

	function setupSearchBox() {
		if (document.getElementById('txt-name').value != "")
		{
			document.getElementById('chk-name').checked = true;
			document.getElementById('txt-name').disabled = false;
			document.getElementById('txt-name').style.backgroundColor = "";
		}
		if (document.getElementById('txt-genre').value != "")
		{
			document.getElementById('chk-genre').checked = true;
			document.getElementById('txt-genre').disabled = false;
			document.getElementById('txt-genre').style.backgroundColor = "";
		}
		if (document.getElementById('txt-developer').value != "")
		{
			document.getElementById('chk-developer').checked = true;
			document.getElementById('txt-developer').disabled = false;
			document.getElementById('txt-developer').style.backgroundColor = "";
		}
		if (document.getElementById('txt-category').value != "")
		{
			document.getElementById('chk-category').checked = true;
			document.getElementById('txt-category').disabled = false;
			document.getElementById('txt-category').style.backgroundColor = "";
		}
		if (document.getElementById('txt-appid').value != "")
		{
			document.getElementById('chk-appid').checked = true;
			document.getElementById('txt-appid').disabled = false;
			document.getElementById('txt-appid').style.backgroundColor = "";
		}
	}
	
	setupSearchBox();
		
</script>
{% endblock %}

